.d-flex {
    display: flex;
}

.first-menu {
    padding: 3px 9px;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 50%;
    left: 15%;
}

.skills-list {
    display: flex;
    flex-direction: column;
}

.flex-container-experience {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    right: 20%;
}

.align-items-center-experience {
    align-items: flex-end;
}

.flex-container-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 15%;
    left: 10%;
}

.flex-container-contact {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    position: relative;
    top: 50%;
    padding: 100px 300px;

}

.flex-container-education {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 40%;
    left: 15%;   
}

.laptop-container {
    position: absolute;
    bottom: 0;
    left: 10%;
}

.visit-web {
    position: absolute;
    bottom: 50%;
    left: 28%;
    color: var(--font-color);
    font-size: 30px; 
}

.visit-web-1 {
    position: absolute;
    bottom: 27%;
    left: 28%;
    color: var(--font-color);
    font-size: 30px;     
}

.portfolio {
    position: absolute;
    top: 25px;
    left: 33.5%;
    color: var(--font-color);
    font-size: 40px;   
}