.item-1 {grid-area: header; }
.item-2 {grid-area: cover; }
.item-3 {grid-area: main; }
.item-4 {grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'cover cover cover cover cover'
    'main main main main main'
    'footer footer footer footer footer';
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.item-3 {
    position: relative;
    top: 0%;
}