@import url(./variables.css);
@import url(./font.css);
@import url(./reset.css);
@import url(./components/button.css);

.container {
  width: 1300px;
  margin-inline: auto;
}
.bg-image {
  background-image: url(../assets/images/hacker.png);
  background-size: 100%;
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.h1-hover {
  color: var(--font-color);
  font-size: 30px;
  background: var(--hover-color);
  padding: 10px 25px;
  border-radius: 30px;
  margin: 15px 0px;
}

.skills-a {
  padding: 15px 20px;
  color: var(--font-color);
  font-size: 20px;
}

.bg-image-about {
  background-image: url(../assets/images/about-me.png);
  background-size: 100%;
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.h1-hover-about {
  color: var(--font-color);
  font-size: 30px;
  background: var(--hover-color);
  padding: 10px 20px;
  border-radius: 30px;
  margin: 15px 0px;
}

.bg-image-experience {
  background-image: url(../assets/images/experience.png);
  background-size: 100%;
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  background-repeat: no-repeat;
} 

.skills-a-experience {
  padding: 15px 63px;
  color: var(--font-color);
  font-size: 35px;
}

.h1-hover-experience {
  color: var(--font-color);
  font-size: 30px;
  background: var(--main-color);
  padding: 10px 20px;
  border-radius: 30px;
  margin: 15px 0px;
}

.skills-a-about {
  padding: 15px 20px;
  color: var(--font-color);
  font-size: 25px;
}

.bg-image-education {
  background-image: url(../assets/images/education.png);
  background-size: 100%;
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.h1-hover-education {
  color: var(--font-color);
  font-size: 30px;
  background: var(--main-color);
  padding: 10px 20px;
  border-radius: 30px;
  margin: 15px 0px;
}

.bg-image-contact {
  background-image: url(../assets/images/contact.png);
  background-size: 100%;
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.skills-a-contact {
  padding: 15px 20px;
  color: var(--font-color);
  font-size: 25px;
}

.h1-hover-mail {
  color: var(--font-color);
  font-size: 30px;
  background: var(--hover-color);
  padding: 10px 45px;
  border-radius: 30px;
  margin: 15px 0px;
}

.red-word {
  color: red;
}