.btn {
    padding: 10px 40px;
    font-size: 10px;
    background: var(--logo-color);
    color: white;
    border: 0;
    cursor: pointer;
    font-family: var(--main-font);
    border-radius: 10px;
}

