@import url(../variables.css);

  footer {
    height: 100px;
    align-items: center;
    background-color: var(--logo-color);
    bottom: 0;

  }

  footer .container {
    align-items: center;
  }

  footer p {
      align-items: center;
      justify-content: space-between;
      color: white;
  } 