header {
    height: 100px;
    align-items: center;
}

nav {
    width: calc (100% - 35.23px);
}

nav a {
    color: var(--font-color);
    text-decoration: none;
    padding: 0 15px;
    font-size: 20px;
}

nav a:hover {
    color: var(--font-color);
    font-weight: bold;
}

header .container {
    align-items: center;
}