@import url(../variables.css);

header {
    height: 75px;
    align-items: center;
  }

  header .container {
    align-items: center;
  }

  header .logo {
    width: 35px;
    height: 35px;
    margin: 0 50px;
  }

  nav a {
    color: var(--font-color);
    text-decoration: none;
    padding: 0 15px;
    font-size: 20px;
  }

  nav a:hover{
    text-decoration: underline;
  }

  header .social-icons {
    width: 20px;
  }

  nav {
    width: calc(100% - 45px);
    align-items: center;
  }

  .social-icons-container a{
    padding: 0 2px;
  }
